@model List<AppTaskListDto>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "İş Emri Tanımlama Ekranı";
}


<a asp-action="Create" asp-controller="AppTask" asp-area="Admin">Yeni İş Emri Ekle</a>

<table class="table table-sm mt-2">
    <thead>
        <tr>

            <th scope="col">İş Emri</th>
            <th scope="col">Açıklama</th>
            <th scope="col">İşin Aciliyeti</th>
            <th scope="col">İşin Durumu</t>
            <th scope="col"></th>



        </tr>
    </thead>
    <tbody>
        @if (Model?.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.PriorityDefinition</td>
                    <td>@(item.State ? "Tamamlandı":"Tamamlanmadı")</td>
                    <td>
                        <a asp-action="Update" asp-controller="AppTask" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Düzenle</a>
                        <a asp-action="Delete" onclick="return confirm('silmek istediğiniz emin misin ?')" class="btn btn-sm btn-danger" asp-controller="AppTask " asp-area="Admin" asp-route-id="@item.Id">Sil</a>

                    </td>

                </tr>
            }
        }
        else
        {
            <tr>

                <td colspan="5">Herhangi bir iş emri bulunamadı.</td>

            </tr>
        }




    </tbody>
</table>